body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #d1d1d1;
}
header h1{
    
    font-family: 'Montserrat', sans-serif;


}

section{
    font-family: 'Montserrat', sans-serif;
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
}

section .main{
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
    top: 10%;
}

section .main h1{
    color: #006efd;
    position: relative;
    font-size: 55px;
    top: 80px;
    left: 25px;
}
section .main p{
    width: 800px;
    text-align: left;
    line-height: 26px;
    position: relative;
    top: 125px;
    left: 25px;
    color: #000000;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: x-large;
    font-weight:lighter;

}
body div ul{
    color: #333;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
}

header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1.5rem;
}

main{
    padding: 2rem;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
input[type="text"] {
    padding: 0.5rem;
    font-size: 1rem;
    width: 500px;
    height: 25px;
}
button {
    padding: 0.7rem 3rem;
    background-color: #333;
    color: white;
    border: none;
    cursor: pointer;
    font-size: larger;
}
#results {
    margin-top: 2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
}
h2{


}

.book {
    border: 1px solid #ddd;
    padding: 1rem;
    margin: 1rem;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;

}

.book img {
    max-width: 100px;
}
.arrivals_btn{
    width: 100%;
    height: 100vh;
    margin-bottom: 35px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.arrivals h1{
    font-size: 50px;
    text-align: center;
    margin-bottom: 35px;
    font-family: 'Source Code Pro', monospace;
    
}

.arrivals .arrivals_box{
    width: 95%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 25px 0;
}

.arrivals .arrivals_box .arrivals_card{
    width: 250px;
    height: 340px;
    text-align: center;
    padding: 5px;
    border: 1px solid #919191;
    margin: auto 20px;
}

.arrivals .arrivals_box .arrivals_card:hover{
    box-shadow: 0 0 5px #089da1;
}

.arrivals .arrivals_box .arrivals_card .arrivals_image{
    width: 150px;
    height: 220px;
    margin: 0 auto;
    cursor: pointer;
    box-shadow: 0 0 8px rgba(0,0,0,0.5);
    overflow: hidden;
}

.arrivals .arrivals_box .arrivals_card .arrivals_image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    transition: 0.3s;
}

.arrivals .arrivals_box .arrivals_card:hover .arrivals_image img{
    transform: scale(1.1);
}

.arrivals .arrivals_box .arrivals_card .arrivals_tag p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    margin: 8px 0;
    font-weight: bold;
}

.arrivals .arrivals_box .arrivals_card .arrivals_tag .arrivals_icon{
    color: #089da1;
    margin-bottom: 18px;
    
}

.arrivals .arrivals_box .arrivals_card .arrivals_tag .arrivals_btn{
    padding: 8px 20px;
    border: 2px solid #089da1;
    text-decoration: none;
    color: #000;
}

